.container2{
    background:linear-gradient(to bottom, #90eafa, #83f0f0);
} 
.container3{
    background:linear-gradient(to bottom, #7bcaf7, #6bc0f1);
}
.container4{
    background:linear-gradient(to bottom, #67ddf1, #55f0f0);
}
.container5{
    background:linear-gradient(to bottom, #ffffff, #ffffff);
    
}
.container6{
    background:linear-gradient(to bottom, #ffffff, #ffffff);
}
.container7{
    background:linear-gradient(to bottom, #ffffff, #ffffff);
}
.container8, .container11{
    background:linear-gradient(to bottom, #f0d8fa, #f1c8eb);
}
.container9{
    background:linear-gradient(to bottom, #c6b9ff, #d2aaf7);
}
.container10{
    background:linear-gradient(to bottom, #ffffff, #ffffff);
}

.container12{
    background:linear-gradient(to bottom, #c6b9ff, #d2aaf7);
}
.container13{
    background:linear-gradient(to right, #5ae8eb, #82d9fc);
}